<h1><%= @project.name %></h1>
<h4><%= @project.description %></h4>

<hr>

<% if @project.volunteers.any? %>
  <h4>Here are all the volunteers working on this project:</h4>

  <ul>
    <% @project.volunteers.each do |volunteer| %>
    <li><%= volunteer.name %></li>
    <% end %>
  </ul>

<% else %>
  <p>There are no volunteers on this project!</p>
<% end %>

<hr>
<div class="row">
  <div class="col-md-6">
    <h3>Add a new volunteer:</h3>

    <form action="/project/<%= @project.id %>" method="post">
      <input id="project_id" name="project_id" type="hidden" value="<%= @project.id %>">
      <label for="volunteer_name">Volunteer name:</label>
      <input id="volunteer_name" name="volunteer_name" type="text" required>

      <button type="submit" class="btn btn-success">Add Volunteer</button>
    </form>
  </div>

  <div class="col-md-6">
    <h3>Update: <%= @project.name %></h3>

    <form action="/project/<%= @project.id %>" method="post">
      <input type="hidden" name="_method" value="patch">
      <label for="project_name">New project name:</label>
      <input id="project_name" name="project_name" type="text" required>

      <button type="submit" class="btn btn-success">Update Project</button>
    </form>
  </div>
</div>

<h3>Delete: <%= @project.name %></h3>
<h5>WARNING: THIS WILL DELETE ANY VOLUNTEERS ASSOCIATED WITH THIS PROJECT. DELETE AT YOUR OWN RISK.</h5>


<form action="/project/<%= @project.id %>" method="post">
  <input type="hidden" name="_method" value="delete">

  <button type="submit" class="btn btn-danger">Delete Project</button>
</form>
